@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    display: flex;
}

#icon{
    color: #555;
    margin-left: 20px;
    position: absolute;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #bbb,
        3px 3px 10px #fff,
        -3px -3px 10px #eee;
}

.wrapper {
    position: absolute;
  left: 0;
  right: 0;
  top: 10%;

  margin: auto;
    max-width: 350px;
    min-height: 500px;
    padding: 40px 30px 30px 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #bbb, -13px -13px 20px #eee;
}
input::placeholder{
    color: #555;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #000;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    margin-right: 15px;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #555;
    padding: 10px 15px 10px 10px;

}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #aaa, inset -8px -8px 8px #eee;
}
.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #D4F1F4;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #094b68,
                -3px -3px 3px #7fcff5;
    letter-spacing: 1.5px;
}

.wrapper .btn:hover {
    background-color: #0491d8;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

