@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    display: flex;
    background: #efefef;
}

#icon{
    color: #0e0e0e;
    margin-left: 20px;
    position: absolute;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: inset 7px 7px 14px #aeaeae,
    inset -7px -7px 14px #ffffff;
}

.wrapper {
    position: absolute;
  left: 0;
  right: 0;
  top: 10%;

  margin: auto;
    max-width: 350px;
    min-height: 500px;
    padding: 40px 30px 30px 30px;


    border-radius: 20px;
    background: #efefef;
    box-shadow:  7px 7px 14px #aeaeae,
                 -7px -7px 14px #ffffff;
}
input::placeholder{
    color: gray;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #0e0e0e;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    margin-right: 15px;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    padding: 10px 15px 10px 10px;

}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 7px 7px 14px #aeaeae,
                inset -7px -7px 14px #ffffff;
}


.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

.wrapper button {
    border: none;
    background: none;
}


.wrapper button:hover i{
    transform: translateX(0);
}

 .wrapper button span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }

  .wrapper button i {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }



  .wrapper button:active i {
    transform: scale(0.9);
  }

  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }

  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .wrapper button:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
