@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    display: flex;
    background: #0d6efd;
}

#icon{
    color: #fff;
    margin-left: 20px;
    position: absolute;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
box-shadow:  11px 11px 20px #0b5acf,
             -11px -11px 20px #0f82ff;
}

.wrapper {
    position: absolute;
  left: 0;
  right: 0;
  top: 10%;

  margin: auto;
    max-width: 350px;
    min-height: 500px;
    padding: 40px 30px 30px 30px;


    border-radius: 20px;
background: #0d6efd;
box-shadow:  6px 6px 15px #052c65,
             -6px -6px 15px #15b0ff;
}
input::placeholder{
    color: #ccc;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #000;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    margin-right: 15px;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #555;
    padding: 10px 15px 10px 10px;

}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;

box-shadow: inset 6px 6px 15px #052c65,
            inset -6px -6px 15px #15b0ff;
}
.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #D4F1F4;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #094b68,
                -3px -3px 3px #7fcff5;
    letter-spacing: 1.5px;

    border: none;
    font-family: inherit;
    font-size: 17px;

}


.wrapper .btn:hover {
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    /* background-color: #0491d8; */
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #05bada66;
 }
 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }
 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}
