@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #189AB4;
    display: flex;
}

 ::placeholder{
    color: #D4F1F4;
}

#icon{
    color: #D4F1F4;
    margin-left: 20px;
    position: absolute;
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 10% auto;
    padding: 40px 30px 30px 30px;
    background-color: #189AB4;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #05445E, -13px -13px 20px #75E6DA;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        3px 3px 10px #a7aaa7,
        -3px -3px 10px #75E6DA;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    margin-right: 15px;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #05445E, inset -8px -8px 8px #75E6DA;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #75E6DA;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #094b68,
        -3px -3px 3px #75E6DA;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 50px 20px;
        padding: 40px 15px 15px 15px;
    }
}
